<div class="row">
  <div id="login-pg" class="col-xs-12 text-right">
    <section class="auth-form">
    <h4>Login/Register</h4>
    <div>
      <input placeholder="Enter Email" type="text" autofocus="true"  ng-model="account.email">
    </div>
    <div>
      <input placeholder="Enter Password" type="password" ng-model="account.password">
    </div>
    <div>
      <button class="btn btn-info login-btn" ng-click="login()">Login</button>
      <button class="btn btn-default login-btn" ng-click="register()">Register</button><br>
      <button class="btn btn-info login-btn" ng-click="loginGoogle()">Login with Google</button>
    </div>
    </section>
  </div>
</div>


<!-- <div class="login-page row">

  <div class="form">
    <form class="register-form">
      <input type="text" placeholder="name"/>
      <input type="password" placeholder="password"/>
      <input type="text" placeholder="email address"/>
      <button>create</button>
      <p class="message">Already registered? <a href="#">Sign In</a></p>
    </form>
    <form class="login-form">
      <input type="text" placeholder="username"/>
      <input type="password" placeholder="password"/>
      <button>login</button>
      <p class="message">Not registered? <a href="#">Create an account</a></p>
    </form>
  </div>
</div>

<script>$('.message a').click(function(){
   $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
});</script> -->


